@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

$background-color: #bab5a1;
$darker: #1d1d1d;
$yorha-white: #d1cdb7;
$yorha-text:	#454138;

* {
	font-family: 'Inconsolata', monospace;
}

body {
	margin: 0;
	background: $background-color;
	// overflow: hidden;
    // @include media-breakpoint-down(sm) {
    //     overflow:visible;
    // }
	height: 100vh;
}

body::-webkit-scrollbar{
    display: none;
}

h1 {
	color: $yorha-text;
	top: 20px;
	// left: 50%;
	position: absolute;
	display: flex;
	// transform: translateX(-50%) translateY(-50%) scale(2, 2);
	transform: scale(1.5,1.5);
	transition: 0.5s ease-in-out;
}

// h1.top {
// 	transform: scale(1,1);
// }

#main {
	opacity: 0;
	transition: 0.5s;
	color: $yorha-text;
	margin-top: 60px;
}

h2 {
	text-align: center;
	margin: 0;
	cursor: default;
}

.info-button {
	display: inline-block;
	color: $yorha-text;
	cursor: pointer;
	// -webkit-touch-callout: none; /* iOS Safari */
    // -webkit-user-select: none; /* Safari */
    //  -khtml-user-select: none; /* Konqueror HTML */
    //    -moz-user-select: none; /* Old versions of Firefox */
    //     -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.underline {
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 0;
	transition: width .25s linear;
}

*:hover>.underline, .active>.underline {
	width: 100%;
}

line {
	stroke-width: 5px;
	stroke-dasharray: 100px;
	stroke-dashoffset: 100px;
	stroke-linecap: round;
}

.info-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: opacity 0.2s linear;
	position: absolute;
	transform: translateX(-150%);
	opacity: 0;
	width: 90%;
	pointer-events: none;
}

.info-panel.shown {
	opacity: 1;
	visibility: visible;
	transform: translateX(0%);
}

.info-block-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	// align-items: center;
	flex-wrap: wrap;
	@include media-breakpoint-only(xxl) {
        max-width: 80%;
    }
    // @include media-breakpoint-down(sm md lg) {
    //     max-width: none;
    // }
}

.info-block {
	display: flex;
	// outline: 1px solid pink;
	justify-content: center;
	align-items: center;
	max-width: 60%;
	// flex-grow: 1;
	margin-bottom: 16px;
	// background: $darker;
	border: 3px solid $yorha-text;
	border-radius: 25px;
	padding: 4px 16px;
}

.info-block-skills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.info-desc {
    display: block;
	margin: 10px auto;
    @include media-breakpoint-down(lg md) {
        font-size: 24px !important;
    }
    @include media-breakpoint-down(sm) {
        font-size: 18px !important;
    }
}

.limited {
	max-width: 45%;
}

.flex {
	display: flex;
}

a {
	color: inherit;
	display: inline-block;
}

a.d {
	text-decoration: none;
}

#aboutme>.info-desc>span {
	color: #90c53f;
}

canvas {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

img {
	border-radius: 4px;
	width: 15%;
	height: 15%;
}

.col-container {
	display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
	// width: 90%;
    @include media-breakpoint-down(lg) {
        flex-direction: column;
        justify-content: center;
    }
    @include media-breakpoint-down(sm md) {
        flex-direction: row;
        justify-content: space-around;
        // align-items: center;
    }

    .col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// background: $darker;
		border: 3px solid $yorha-text;
		margin: 0px 8px 8px 16px;
		border-radius: 25px;
		padding: 4px 16px;
        .project-image {
            width:256px;
        }
    }
}

.flex-container {
	display: flex;
	justify-content: center;
    align-items: center;
	flex: 1;
}

.main-content-container {
	display: flex;
	justify-content: center;
}

.button-container-desktop {
	display: flex;
	justify-content: center;
    margin: 20px 0px;
	pointer-events: none;
	@include media-breakpoint-down(sm) {
        display: none;
    }
    @include media-breakpoint-down(lg md) {
        display: flex;
    }
}

.button-container-mobile {
	display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    margin: 20px 0px;
	@include media-breakpoint-down(lg md) {
        display: none;
    }
    @include media-breakpoint-down(sm) {
        display: flex;
    }
}

.self1 {
    margin: 20px 20px;
    @include media-breakpoint-down(md) {
        width:60%;
    }
    @include media-breakpoint-down(md) {
        width:40%;
    }
    @include media-breakpoint-down(sm) {
        width:80%;
    }
}

@media only screen and (max-width: 600px) {
	.col {
		display: block;
		width: 90%;
	}
}

.title-card {
	display: flex;
	flex: 1;
	z-index: 9999999;
}

.resumesection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.resumetitlebox {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 3px solid currentColor;
	line-height: 0.85;
	border-radius: 0px;
	text-shadow:
    2px 2px $yorha-white,
    2px -2px $yorha-white,
    -2px 2px $yorha-white,
    -2px -2px $yorha-white;
}

.resumeblockcontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 16px;

}

.nohighlight {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.clickable {
	pointer-events: auto !important;
}

.resumeblock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	// background: $darker;
	border: 3px solid $yorha-text;
	margin: 0px 8px 8px 16px;
	border-radius: 25px;
	padding: 4px 16px;
	@include media-breakpoint-down(sm) {
        max-width: 100%;
    }
	@include media-breakpoint-up(md xl xxl) {
        max-width: 80%;

    }
}

.company {
	font-size: 24px;
	font-weight: bold;
	color: $yorha-text;
}

.position {
	font-size: 20px;
	color: $yorha-text;
}

.details {
	font-size: 16px;
	color: $yorha-text;
}

.centered {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.aggressive-width {
	min-width: 51%;
	@include media-breakpoint-up(md xl) {
        flex: 1;
    }
}

#tiles {
	height: calc(200vh - 1px);
	width: calc(100vw - 1px);
	// position: relative;
	z-index: 2;

	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
}

body.toggled {
	animation: none;
}

body.toggled > #title {
	opacity: 0;
}

body.toggled > #icon {
	opacity: 1;
}

body.toggled > #tiles > .tile:hover {
	opacity: 0.1 !important;
}

.tile {
	cursor: pointer;
	position: relative;
	// border: 1px solid pink;
}

// .tile:hover:before {
// 	background-color: rgb(30, 30, 30);
// }

.tile:before {
	background-color: $yorha-white;
	content: "";
	inset: 0.5px;
	position: absolute;
}

.content {
	z-index: 3;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.link {
	pointer-events: all;
	transition: 0.2s;
	text-decoration: none;
}

.link:hover {
	background-color: $darker;
}

.linkbox {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none !important;
}