* {
  font-family: "Inconsolata", monospace;
}

body {
  margin: 0;
  background: #313131;
}
@media (max-width: 575.98px) {
  body {
    overflow: visible;
  }
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  color: white;
  top: 20px;
  position: absolute;
  display: flex;
  transform: scale(1.5, 1.5);
  transition: 0.5s ease-in-out;
}

#main {
  opacity: 0;
  transition: 0.5s;
  color: white;
  margin-top: 60px;
}

h2 {
  text-align: center;
  margin: 0;
  cursor: default;
}

.info-button {
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

.underline {
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 0;
  transition: width 0.25s linear;
}

*:hover > .underline, .active > .underline {
  width: 100%;
}

line {
  stroke-width: 5px;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  stroke-linecap: round;
}

.info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.2s linear;
  position: absolute;
  opacity: 0;
  width: 90%;
}

.info-panel.shown {
  opacity: 1;
  visibility: visible;
}

.info-block-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  flex-grow: 1;
  margin-bottom: 16px;
  background: #1d1d1d;
  border-radius: 25px;
  padding: 4px 16px;
}

.info-block-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.info-desc {
  display: block;
  margin: 10px auto;
  font-size: 24px !important;
}
@media (max-width: 575.98px) {
  .info-desc {
    font-size: 18px !important;
  }
}

.limited {
  max-width: 45%;
}

.flex {
  display: flex;
}

a {
  color: inherit;
  display: inline-block;
}

a.d {
  text-decoration: none;
}

#aboutme > .info-desc > span {
  color: #90c53f;
}

canvas {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

img {
  border-radius: 4px;
  width: 15%;
  height: 15%;
}

.col-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991.98px) {
  .col-container {
    flex-direction: column;
    justify-content: center;
  }
}
.col-container .col {
  margin: 20px 20px;
}
.col-container .col .project-image {
  width: 80%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.main-content-container {
  display: flex;
  justify-content: center;
}

.button-container-desktop {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  display: flex;
}
@media (max-width: 575.98px) {
  .button-container-desktop {
    display: none;
  }
}

.button-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  display: none;
}
@media (max-width: 575.98px) {
  .button-container-mobile {
    display: flex;
  }
}

.self1 {
  margin: 20px 20px;
}
@media (max-width: 767.98px) {
  .self1 {
    width: 60%;
  }
}
@media (max-width: 767.98px) {
  .self1 {
    width: 40%;
  }
}
@media (max-width: 575.98px) {
  .self1 {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .col {
    display: block;
    width: 90%;
  }
}
.title-card {
  display: flex;
  flex: 1;
  z-index: 9999999;
}

.resumesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.resumetitlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid currentColor;
  line-height: 0.85;
  border-radius: 0px;
  text-shadow: 2px 2px #313131, 2px -2px #313131, -2px 2px #313131, -2px -2px #313131;
}

.resumeblockcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 16px;
}

.resumeblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #1d1d1d;
  margin: 0px 8px 8px 16px;
  border-radius: 25px;
  padding: 4px 16px;
}

.company {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.position {
  font-size: 20px;
  color: white;
}

.details {
  font-size: 16px;
  color: grey;
}/*# sourceMappingURL=style.css.map */